.base-edit-table {
  padding: 0 10px;
  height: 100%;
  .vxe-table {
    font-family:
      "PingFang SC",
      "Microsoft YaHei",
      "STHeitiSC-Light",
      "Helvetica-Light",
      "Arial",
      "sans-serif";
    .vxe-body--column {
      &.col--ellipsis {
        &.vxe-table-un-col-edit {
          > .vxe-cell {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
    &.vxe-table--render-default {
      .vxe-cell {
        padding-right: 5px;
        padding-left: 5px;
      }
    }
    .vxe-table--empty-content {
      position: relative;
      height: 100%;
    }
    .vxe-cell--valid {
      display: none;
    }
  }
  .vxe-grid--toolbar-wrapper {
    .el-button {
      margin-bottom: 10px;
    }
  }
  & &-title {
    color: var(--color-primary);
  }
}
